<div class="container-fluid" style="padding-top: 2% !important;">
  <div class="card">
      <div class="card-header">
        <span>Welcome to Beacon!</span>
      </div>
      <div class="card-body">
        <p>Beacon is a crisis preparedness app to help keep people in the community prepared, informed and connected.</p>
      </div>
      <div class="card-footer">
        <button class="btn-group btn-block">
          <button class="btn btn-success"><i class="fa fa-check-circle-o"></i> I'm ready to get started</button>
          <button class="btn btn-secondary" (click)="dismiss()"><i class="fa fa-times-circle-o"></i> Cancel</button>
        </button>
        
      </div>
  </div>
</div>

